@import "../../styles/variables";

.Wrapper {
  max-width: 75%;
  padding: 40px 24px $footer-height-small;
}

.MainStage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/photos/trippyspin-min.jpg);
}

.CTA {
  text-align: center;
  margin-bottom: 24px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  padding: 30px;
  cursor: pointer;
  @include transitionAll;

  &:hover {
    transform: scale(1.02);
  }
}

@include large {
  .MainStage {
    background-position: initial;
  }

  .Wrapper {
    padding-bottom: $footer-height-large;
  }
}

@include xlarge {
  .Tickets {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}
