.AboveTheFold {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: fadein 2s;
}

.Wordmark {
  width: 80%;
  max-width: 400px;
  margin-bottom: 15px;
}

.Sub {
  margin-bottom: 20px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
