@import "../../styles/variables";

.Wrapper {
  cursor: pointer;
}

.Link {
  color: $spring-green;
  font-family: $Raleway;
  text-transform: uppercase;
  margin-right: 5px;
  @include transitionAll;
  font-size: 24px;
  text-decoration: none;
  outline-color: $bayoux-blue;

  &:hover,
  &:focus {
    color: $spring-green;
    text-shadow: 0 0 5px $spring-green, 0 0 10px $spring-green,
      0 0 15px $spring-green, 0 0 20px $spring-green, 0 0 30px $spring-green,
      0 0 40px $spring-green, 0 0 50px $spring-green;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px $spring-green,
      0 0 20px $spring-green, 0 0 30px $spring-green, 0 0 40px $spring-green,
      0 0 50px $spring-green;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px $spring-green, 0 0 15px $spring-green,
      0 0 20px $spring-green, 0 0 30px $spring-green, 0 0 40px $spring-green,
      0 0 50px $spring-green;
  }
}
