@import "../../styles/variables";

.Wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: $footer-height-small;
}

.Header {
  margin: 40px 20px;
  display: flex;
  justify-content: center;
}

.Logo {
  max-height: 300px;
  max-width: 100%;
  margin: 0 auto;
}

.EventGraphic {
  width: 100vw;
  max-width: 100vw;
}

.DonateButton {
  margin: 40px auto;
  justify-content: center;
  display: block;
  max-width: 300px;
}

.Channels {
  padding: 0 50px;
}

@include medium {
  .Wrapper {
    padding-bottom: $footer-height-large;
    position: relative;
  }
}
