@import "../../styles/variables";

.Wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: $footer-height-small;
}

.Header {
  margin: 60px 20px 40px;
  display: flex;
  justify-content: center;
}

.Logo {
  max-width: 100%;
  margin: 0 auto;

  &Invert {
    filter: grayscale(1) invert(1);
  }
}

.EventGraphic {
  max-width: 100%;
  margin-bottom: 40px;
}

.DonateButton {
  margin: 40px auto;
  justify-content: center;
  display: block;
  max-width: 300px;
}

.Channels {
  padding: 0 50px;
}

.Nav {
  margin: 0 auto;
}

@include xlarge {
  .Wrapper {
    padding-bottom: $footer-height-large;
  }

  .Logo {
    max-width: 700px;
    margin: 0 auto;
  }
}
