@import "../../styles/variables";

.Wrapper {
  min-height: 100vh;
  position: relative;
}

.Header {
  margin: 60px 20px 40px;
  display: flex;
  justify-content: center;
}

.LogoWrapper {
  max-width: 700px;
  margin: 0 auto;
}

.Logo {
  max-width: 100%;

  &Invert {
    filter: grayscale(1) invert(1);
  }
}

.EventGraphic {
  max-width: 100%;
  margin-bottom: 50px;

  &Wrapper {
    display: flex;
    justify-content: center;
  }
}

.DonateButton {
  margin: 40px auto;
  justify-content: center;
  display: block;
  max-width: 300px;
}

.Channels {
  padding: 0 50px;
}

.Nav {
  margin: 0 auto;
}
