@import "../../styles/variables";

.Wrapper {
  max-width: 75%;
  padding-top: 40px;
  padding-bottom: $footer-height-small;
}

.NightMainStage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/nightMainStage.jpg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.FoodHeading {
  margin-top: 24px !important;
}

.Position {
  margin-bottom: 24px;
}

.MakeImpact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.Logo {
  width: 100%;
  max-width: 400px;
}

.LogoWrapper {
  text-align: center;
  margin-bottom: 24px;
}

.P {
  font-size: 16px !important;
  margin-bottom: 12px !important;
}

.Apply {
  margin-top: 20px;
}

.Position {
  &Title {
    margin-right: 12px !important;
  }

  &Heading {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

@include large {
  .NightMainStage {
    background-position: initial;
    background-position: bottom;
  }

  .Wrapper {
    padding-bottom: 160px;
    padding-bottom: $footer-height-large;
  }

  .MakeImpact {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .Logo {
    width: 100%;

    &Wrapper {
      margin-right: 24px;
    }
  }

  .PositionList {
    display: flex;
    flex-wrap: wrap;
  }

  .Position {
    width: 50%;

    &Content {
      padding: 10px;
    }
  }
}

@include xlarge {
  .Wrapper {
    max-width: 1100px;
  }
}
