@import "../../styles/variables";

.Button {
  font-family: $alien-exp;
  padding: 10px 14px;
  text-align: center;
  background-color: $black;
  transition: all 0.25s ease-in;
  outline-color: $spring-green;
  border: 1px solid $white;
  border-radius: 0;
  color: $white;
  font-size: 25px;

  &:hover,
  &:focus {
    color: $spring-green;
    border-color: $spring-green;
  }
}

.Link {
  text-decoration: none;
}
