@import "../../../styles/variables";

.StreamNav {
  padding: 40px 40px;
}

.ChannelLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  margin-top: 24px;
}

@include large {
  .ChannelLinks {
    grid-template-columns: repeat(3, 1fr);
  }
}
