@import "../../styles/variables";

.Content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Layout {
  width: 100%;
  padding: 40px 40px $footer-height-small;
  max-width: $max-width;
}

@include large {
  .Layout {
    padding: 40px 40px $footer-height-large;
  }
}
