body {
  padding: 0;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/lonelyspace.png);
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Main {
  position: relative;
}
