@import "../../styles/variables";

.Logo {
  width: 100%;
  max-width: 200px;
  margin-bottom: 15px;
}

.Stages,
.Extras,
.SpecialMentions {
  display: grid;
  grid-column-gap: 20px;
}

.Limitless {
  padding-top: 10px;
}

.Stage {
  border: 1px solid white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  @include transitionAll;

  &:hover {
    border-color: $spring-green;
  }
}

.Info {
  text-align: center;
  margin-bottom: 0;
}

.Donate {
  padding: 30px;
  font-size: 60px;

  &Wrapper {
    text-align: center;
  }
}

@include breakpoint(medium) {
  .Stages {
    grid-template-columns: repeat(4, 1fr);
  }

  .Extras {
    grid-template-columns: repeat(3, 1fr);
  }

  .SpecialMentions {
    grid-template-columns: repeat(2, 1fr);
  }
}
