@import "../../styles/variables";

.VideoWrapper {
  display: none;
  max-width: 100%;
}

.Above {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/photos/umbrella-min.jpg);
}

.Story {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/photos/riley-min.jpg);
}

.AttendCTA {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/photos/valley-min.jpg);
}

.Social {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/photos/youdecide-min.jpg);
}

//TODO: get compressed asset

.MakeImpact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/photos/lumidDay-min.jpg);
  padding-bottom: 250px;
  padding-top: 50px;
}

.Value {
  max-width: 250px;
  margin-bottom: 24px;
}

.ValuesImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CTA {
  text-align: center;
  margin-bottom: 24px;
  padding: 30px;
  cursor: pointer;
  @include transitionAll;

  &:hover {
    transform: scale(1.02);
  }
}

.Wordmark {
  width: 90%;
  max-width: 650px;
  margin-bottom: 24px;
}

.Section {
  text-align: center;
  margin: 24px 35px 0;
  padding: 50px 24px;
}

.Link {
  margin: 0;
  color: $white;
  font-family: $alien;
  text-transform: uppercase;
  @include transitionAll;
  font-size: 24px;
  text-decoration: none;
  outline-color: $bayoux-blue;
  padding: 5px;

  &:hover {
    color: $spring-green;
  }
}

.Links {
  display: flex;
  flex-direction: column;
}

.SocialLinks {
  flex-direction: row;
  margin-top: 32px;
}

.SocialIcon {
  max-width: 50px;
}

.Logos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LogoWrapper {
  padding: 20px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include transitionAll;

  &:hover {
    transform: scale(1.02);
  }
}

.Logo {
  width: 100%;
  max-width: 150px;
}

@include medium {
  .Section {
    margin: 24px 10% 0;
    padding: 0 50px;
  }

  .Wrapper {
    padding-top: 40px;
  }

  .Logos {
    flex-direction: row;
    max-width: 800px;
    justify-content: space-between;
  }

  .LogosSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .LogoWrapper {
    margin-bottom: 0;
    margin-right: 24px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .ValuesImages {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(2, 250px);
  }

  .Links {
    flex-direction: row;
    justify-content: space-between;
  }

  .CTA {
    margin-right: 10px;
    padding: 20px 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@include large {
  .Section {
    margin: 24px auto 0;
    max-width: 1000px;
  }

  .Value {
    margin: 5px;
    max-width: 250px;
  }

  .MainStage {
    background-position: initial;
  }

  .MakeImpact {
    padding-bottom: 50px;
  }

  .ValuesImages {
    margin-bottom: 200px;
  }
}

@include breakpoint(xlarge) {
  .ValuesImages {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(4, 250px);
    margin-bottom: 0;
  }
}
