@import "../../styles/variables";

.About {
  background-color: black;
}

.Apply {
  display: inline-block;
  margin-top: 20px;
}

.Mosaic {
  border: 5px solid white;
  width: 100%;
}

.Home1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/photos/home1.jpg);
}

.Home2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/photos/home2.jpg);
}

.Home3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/photos/home3.jpg);
}

.Home4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/photos/home4.jpg);
}

.Home5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/photos/home5.jpg);
}

.MakeImpact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/photos/valley-min.jpg);
  padding-bottom: 45px;
}

.Video {
  height: 100%;
  width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
}

.VideoWrapper {
  background-color: black;
}

.Value {
  max-width: 250px;
  margin-bottom: 24px;
}

.ValuesImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
}

.CTA {
  text-align: center;
  margin-bottom: 24px;
  padding: 30px;
  cursor: pointer;
  @include transitionAll;

  &:hover {
    transform: scale(1.02);
  }
}

.Wordmark {
  width: 90%;
  max-width: 650px;
  margin-bottom: 24px;
}

.Section {
  text-align: center;
  margin: 24px 35px 0;
  padding: 50px 24px;
}

.Link {
  margin: 0;
  color: $white;
  font-family: $alien;
  text-transform: uppercase;
  @include transitionAll;
  font-size: 24px;
  text-decoration: none;
  outline-color: $bayoux-blue;
  padding: 5px;

  &:hover {
    color: $spring-green;
  }
}

.Links {
  display: flex;
  flex-direction: column;
}

.CoreValue {
  margin-bottom: 45px;
}

@include medium {
  .Section {
    margin: 24px 10% 0;
    padding: 0 50px;
  }

  .Wrapper {
    padding-top: 40px;
  }

  .ValuesImages {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(2, 250px);
  }

  .Links {
    flex-direction: row;
    justify-content: space-between;
  }

  .CTA {
    margin-right: 10px;
    padding: 20px 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@include large {
  .Section {
    margin: 24px auto 0;
    max-width: 1000px;
  }

  .Value {
    margin: 5px;
    max-width: 250px;
  }

  .MainStage {
    background-position: initial;
  }

  .CoreValue {
    margin-bottom: 65px;
  }
}

@include breakpoint(xlarge) {
  .ValuesImages {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(4, 250px);
  }
}
