@import "../../styles/variables";

.Page {
  padding-bottom: $footer-height-small;
}

.Logo {
  width: auto;
  max-width: 100%;
  max-height: 100px;
}

.LogoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  text-align: center;
  margin-bottom: 24px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  padding: 30px;
  cursor: pointer;
  @include transitionAll;

  &:hover {
    transform: scale(1.02);
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.MainLogos {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.Stages {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/stages.jpg);
}

.PhotoContent {
  max-width: 80%;
  text-align: center;
}

@include medium {
  .Page {
    padding-bottom: $footer-height-large;
  }

  .LogoWrapper {
    margin-right: 24px;
    margin-bottom: 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .MainLogos {
    display: flex;
    flex-direction: row;
  }
}
