@import "../../styles/variables";

.Content {
  min-height: 100vh;
  padding: 100px 24px;
  text-align: center;
  margin-bottom: 100px;
}

.Logo {
  width: auto;
  max-width: 100%;
  max-height: 100px;
}

.LogoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  cursor: pointer;
  @include transitionAll;

  &:hover {
    transform: scale(1.02);
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.MainLogos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Stages {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/photos/stages-min.jpg);
}

@include medium {
  .Content {
    min-height: unset;
  }

  .LogoWrapper {
    margin-right: 24px;
    margin-bottom: 0;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
