@import "../../../styles/variables";

.Ticket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
}

.Name {
  margin-right: 12px;
  margin-bottom: 10px;
}

.Price {
  margin-bottom: 14px;
}

.Details {
  color: white;
  padding-left: 24px;
  margin: 0;
}

.Detail {
  margin-bottom: 7px;
}
