@import "../../styles/variables";

.Layout {
  padding: 0 45px;
}

.Sponsor {
  max-height: 200px;
  max-width: 200px;
  margin: 24px auto;
}
.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include medium {
  .Sponsors {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
  }
}
