@import "../../styles/variables";

.Footer {
  height: $footer-height-small;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FormContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: $max-width;
}

.Link {
  color: white;
  text-decoration: none;
}

.CTA {
  margin-top: 12px;
}

.InTouch {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 50px;
}

.WithLove {
  text-align: center;
  margin-bottom: 10px;
}

@include medium {
  .InTouch {
    max-width: 40%;
    margin-bottom: 20px;
    margin-left: 40px;
  }

  .Footer {
    flex-direction: column;
    height: $footer-height-large;
  }

  .FormContent {
    flex-direction: row;
  }

  .WithLove {
    margin-left: 40px;
  }
}

@include large {
  .InTouch {
    max-width: unset;
    flex: 1;
  }
}

@include xlarge {
  .InTouch {
    margin-left: 0;
  }
}
