@import "../../styles/variables";

.Footer {
  height: 100px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.Content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Link {
  color: white;
  text-decoration: none;
}

.SignUpForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}

.SignUp {
  display: flex;
  flex-direction: column;

  &Button {
    padding: 10px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 0;
    color: whitesmoke;
  }
}

.Input {
  height: 40px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid whitesmoke;
  color: whitesmoke;
  font-size: 16px;
  padding: 3px;
  background-color: $ebony-black;
  outline-color: $bayoux-blue;
  @include transitionAll;
}

.CTA {
  margin-top: 12px;
}

.WithLove {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 40px;
}

@include medium {
  .SignUp {
    flex-direction: row;
  }
}
