@import "../../styles/variables";

.Footer {
  height: $footer-height-small;
  position: absolute;
  bottom: 0;
  border-top: 0.5px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.InTouch {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 24px;
}

.Link {
  color: white;
  text-decoration: none;
}

.SignUp {
  margin-bottom: 0;
}

@include medium {
  .Footer {
    height: $footer-height-large;
    justify-content: space-evenly;
  }

  .FormContent {
    display: flex;
    flex-direction: row;

    padding: 15px 35px;
    width: 100%;
    max-width: 1100px;
  }

  .InTouch {
    text-align: left;
    max-width: 50%;
    margin-bottom: 0;
  }
}

// .FormContent {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   max-width: $max-width;
// }

// .CTA {
//   margin-top: 12px;
// }

// .WithLove {
//   text-align: center;
//   margin-bottom: 10px;
// }

// @include medium {
//   .InTouch {
//     max-width: 40%;
//     margin-bottom: 20px;
//     margin-left: 40px;
//   }

//   .Footer {
//     flex-direction: column;
//     height: $footer-height-large;
//   }

//   .FormContent {
//     flex-direction: row;
//   }

//   .WithLove {
//     margin-left: 40px;
//   }
// }

// @include large {
//   .InTouch {
//     max-width: unset;
//     flex: 1;
//   }
// }

// @include xlarge {
//   .InTouch {
//     margin-left: 0;
//   }
// }
