@import "../../styles/variables";

.TicketLink {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EventChain {
  max-height: 25px;
  margin-left: 15px;
}

.Text {
  font-family: $alien;
  font-weight: 400;
  font-size: 26px;
}
