@import "../../../styles/variables";

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Form {
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.SignUpForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Button {
  font-family: $alien-exp;
  padding: 10px;
  background-color: transparent;
  border: 1px solid whitesmoke;
  border-radius: 0;
  color: whitesmoke;
  font-size: 25px;
  width: 100px;
}

.Input {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid whitesmoke;
  color: whitesmoke;
  font-size: 16px;
  padding: 3px;
  background-color: transparent;
  outline-color: $bayoux-blue;
  font-family: $roboto;
  padding-left: 12px;
  @include transitionAll;
}

@include medium {
  .Form {
    width: 305px;
  }

  .SignUpForm {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 24px;
  }
}

@include large {
  .SignUpForm {
    margin-right: 0;
  }
}
