@import "../../styles/variables";

.Wrapper {
  max-width: 75%;
  padding-bottom: $footer-height-small;
}

.MainStage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/mainStage.jpg);
}

.CTA {
  text-align: center;
  margin-bottom: 24px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  padding: 30px;
  cursor: pointer;
  @include transitionAll;

  &:hover {
    transform: scale(1.02);
  }
}

.Link {
  color: $white;
  font-family: $Raleway;
  text-transform: uppercase;
  margin-right: 10px;
  @include transitionAll;
  font-size: 24px;
  text-decoration: none;
  outline-color: $bayoux-blue;

  &:hover {
    color: $spring-green;
  }
}

.Links {
  display: flex;
  flex-direction: column;
}

.Logos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LogoWrapper {
  padding: 20px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include transitionAll;

  &:hover {
    transform: scale(1.02);
  }
}

.Logo {
  width: 100%;
  max-width: 300px;
}

@include medium {
  .Wrapper {
    padding-top: 40px;
  }

  .Logos {
    flex-direction: row;
    justify-content: space-around;
  }

  .LogoWrapper {
    margin-bottom: 0;
    margin-right: 24px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .Links {
    flex-direction: row;
    justify-content: space-between;
  }

  .CTA {
    margin-right: 10px;
    padding: 20px 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@include large {
  .MainStage {
    background-position: initial;
  }

  .Wrapper {
    padding-bottom: $footer-height-large;
  }
}

@include xlarge {
  .Wrapper {
    max-width: 1100px;
  }
}
