@import "../../styles/variables";

.Page {
  padding-bottom: $footer-height-small;
}

.Logo {
  width: auto;
  max-width: 100%;
  max-height: 100px;
}

.LogoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.MainLogos {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.PhotoDiv1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/hands.jpg);
}

.PhotoDiv2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/workshop.jpg);
  background-position: right;
}

.PhotoDiv3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/yogaworkshop.jpg);
}

.PhotoDiv4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/sage.jpg);
}

.PhotoContent {
  max-width: 80%;
  text-align: center;
}

@include medium {
  .Page {
    padding-bottom: $footer-height-large;
  }

  .LogoWrapper {
    margin-right: 24px;
    margin-bottom: 0;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
