@import "../../styles/variables";

.Channel {
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;

  &Small {
    padding: 10px 5px;
  }

  &:hover,
  &:focus {
    color: $spring-green;
    border-color: $spring-green;
    transition: all ease-in-out 0.5s;
  }
}

.Logo {
  max-width: 100%;
  max-height: 100px;

  &Invert {
    filter: grayscale(1) invert(1);
  }
}
