@import "./styles/variables";

body {
  padding: 0;
  margin: 0;
  background-color: black;
  background: url(/assets/primary/lonelyspace-min.jpg) black;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadein 1s;
  font-family: $alien;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App,
.Main {
  position: relative;
}

.noscroll,
.Main {
  overflow: hidden;
}
