@import "./styles/variables";

.App {
  font-family: $alien;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  background-color: #202121;
  height: 100%;
  color: #ffffff;
  position: relative;
  line-height: 28px;
  letter-spacing: 0.2px;
}
