@font-face {
  font-family: "Alien";
  src: local("Alien"), url(/fonts/alienleague.ttf) format("woff");
}

@font-face {
  font-family: "AlienGrad";
  src: local("AlienGrad"), url(/fonts/alienleagueiigradbold.ttf) format("woff");
}

@font-face {
  font-family: "AlienCond";
  src: local("AlienCond"), url(/fonts/alienleagueiicond.ttf) format("woff");
}

@font-face {
  font-family: "AlienExp";
  src: local("AlienExp"), url(/fonts/alienleagueiiexpand.ttf) format("woff");
}
