@import "../../styles/variables";

.Wrapper {
  min-height: 100vh;
  position: relative;
}

.DifBanner {
  width: 100vw;
  max-width: 100vw;
}

.DonateButton {
  margin: 20px auto 40px;
  justify-content: center;
  display: block;
}

.Channels {
  padding: 0 50px;
  margin-bottom: 45px;
}

.ChannelLinks {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.Schedule {
  max-width: 100%;
  margin-top: 24px;
}

@include large {
  .ChannelLinks {
    grid-template-columns: repeat(4, 1fr);
  }
}
