@import "../../styles/variables";

.Wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: $footer-height-small;
}

.Coed19 {
  width: 100vw;
  max-width: 100vw;
}

.ChatButton {
  color: white;
  font-size: 14px;
  background-color: transparent;
  border: none;
  padding: 10px;
}

.DonateButton {
  margin: 20px auto;
  justify-content: center;
  max-width: 285px;
}

@include medium {
  .Wrapper {
    padding-bottom: $footer-height-large;
    position: relative;
  }

  .DonateButton {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
