$black: #000000;
$ebony-black: #0a0c17;
$white: #ffffff;
$tundora-grey: #4d4d4d;
$bayoux-blue: #465f7c;
$spring-green: #00ff9c;
$gigas-purple: #553f96;
$bright-turquoise: #19c3f6;

$Roboto: "Roboto Slab", serif;
$Raleway: "Raleway", sans-serif;

//for-phone-only
@mixin small {
  @media (max-width: 599px) {
    @content;
  }
}

//for-tablet-portrait-up
@mixin medium {
  @media (min-width: 600px) {
    @content;
  }
}

//for-tablet-landscape-up
@mixin large {
  @media (min-width: 900px) {
    @content;
  }
}

//for-desktop-up
@mixin xlarge {
  @media (min-width: 1200px) {
    @content;
  }
}

//for-big-desktop-up
@mixin massive {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin transitionAll {
  transition: all 0.4s ease-in-out;
}

@mixin transitionTime($args) {
  -webkit-transition: all $args ease-in-out;
  -moz-transition: all $args ease-in-out;
  -ms-transition: all $args ease-in-out;
  -o-transition: all $args ease-in-out;
  transition: all $args ease-in-out;
}
