@import "../../styles/variables";

.Wrapper {
  height: 100%;
  width: 100%;
  z-index: 1;

  &Fixed {
    position: fixed;
  }
}

.Nav {
  width: 100%;
  position: absolute;
  background: url(/assets/lonelyspace-side-min.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  @include transitionAll;
  transition-duration: 0.25s;
  left: -100%;

  &FadeIn {
    transition-duration: 0.25s;
    left: 0;
  }
}

.Content {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(/assets/mountains.png) no-repeat;
  background-position: bottom;
  background-size: contain;
}

.Bun {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 5px;
  top: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: transparent;
  z-index: 2;
}

.Burger {
  position: fixed;
  left: 5px;
  top: 30px;
  color: $spring-green;
  z-index: 9999;
  font-size: 20px;
  transform: rotate(-90deg);
  letter-spacing: 3px;
  cursor: pointer;
  @include transitionAll;
  b {
    @include transitionAll;
    float: left;
    margin-left: 0;
  }

  &Animate {
    top: 20px;
    b {
      &:first-of-type {
        transform: rotate(45deg) translateY(2px);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:last-of-type {
        transform: rotate(-45deg) translateY(-1px);
        margin-left: -77%;
      }
    }
  }
}

.Links {
  padding-top: 70px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  width: 100%;
  z-index: 5;

  li {
    margin-bottom: 14px;
  }
}

.Link {
  color: $white;
  font-family: $alien;
  text-transform: uppercase;
  margin-right: 10px;
  @include transitionAll;
  font-size: 20px;
  text-decoration: none;

  &:hover,
  :focus {
    color: $bayoux-blue;
  }
}

.Mountains {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.SocialLinks {
  flex-direction: row;
  margin-top: 20px;
}

.SocialIcon {
  max-width: 24px;
}

@include large {
  .Burger {
    left: 25px;
  }

  .Links {
    padding-top: 100px;
  }

  .SocialLinks {
    flex-direction: column;
  }
}
