@import "../../styles/variables";

.CauseLogo {
  max-height: 200px;
  margin-bottom: 24px;
  max-width: 100%;
}

.Black {
  padding: 20px;
  background-color: rgba($color: #000000, $alpha: 0.7);
}

.Link {
  display: table;
  margin-bottom: 24px;
}

.Links {
  margin-bottom: 100px;
}

.List {
  color: white;
}

.ListItem {
  font-family: $roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

@include breakpoint(large) {
  .Heading {
    margin: 0;
  }

  .Logo {
    margin-right: 25px;
    margin-bottom: 0;
  }

  .Links {
    margin-bottom: 150px;
  }
}
