@import "../../styles/variables";

.Wrapper {
  text-decoration: none;
  outline-color: $spring-green;
  display: grid;
}

.Link {
  color: $spring-green;
  font-family: $alien-grad;
  margin-right: 5px;
  @include transitionAll;
  font-size: 40px;
  text-decoration: none;
  outline-color: $bayoux-blue;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover,
  &:focus {
    color: $white;
    text-shadow: 0 0 5px $spring-green, 0 0 10px $spring-green,
      0 0 15px $spring-green, 0 0 20px $spring-green, 0 0 25px $spring-green,
      0 0 30px $spring-green, 0 0 35px $spring-green;
  }
}

.InlineLink {
  text-decoration: none;
  color: $white;
  transition: all 0.25s ease-in;
  font-weight: 400;
  outline-color: $spring-green;

  &:hover {
    color: $spring-green;
  }
}

@include breakpoint(large) {
  .Link {
    font-size: 55px;
  }
}
