@import "../../styles/variables";

.Page {
  padding-bottom: 275px;
}

@include medium {
  .Page {
    padding-bottom: 205px;
  }
}

@include large {
  .Page {
    padding-bottom: 165px;
  }
}

@include xlarge {
  .Page {
    padding-bottom: 145px;
  }
}
